<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <title>DealHunt</title>
</head>
<body>
    <h1>Ігри</h1>
    <div class="game-container">
        {% for game in games %}
            <div class="game-info">
                <div class="top-info">
                    <img class="game-image" src="{{ game.image_path }}" alt="{{ game.title }}">
                    <a class="game-title" href="{{ game.link }}" target="_blank">
                        <h3>{{ game.title }}</h3>
                    </a>
                    <div class="price-info">
                        <span class="discount">-{{ game.discount }}%</span>
                        <span class="price">{{ game.price }}грн</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{#    <script src="../static/js/script.js"></script>#}
</body>
</html>
