body {
    font-family: 'Segoe UI', sans-serif;
    background-image: url("../images/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #d3d7dc;
    margin: 0;
    padding: 2rem;
}

.game-container {
    background: rgba(38, 37, 39, 0.9);
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;
}

.game-image {
    width: 120px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
}

.top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-title {
    font-size: 1.0rem;
    color: #fff;
    margin: 0;
    font-weight: 600;
}

.price-info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    white-space: nowrap;
}

.discount {
    color: #ef5350;
    font-weight: bold;
}

.price {
    color: #a5d6a7;
    font-weight: bold;
}

.game-link {
    margin-top: 0.7rem;
    color: #90a4ae;
    text-decoration: none;
    font-size: 0.95rem;
}

.game-link:hover {
    color: #b0bec5;
}
.game-title {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
}

.game-title:hover {
    color: #90caf9;
    text-decoration: underline;
}